In [183]:
import pandas as pd
from datetime import datetime
import json

In [184]:
df0 = pd.read_csv("E0.csv")
df1 = pd.read_csv("E1.csv")
df = df0.append(df1)

In [185]:
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,...,1.61,32,-0.25,2.13,2.06,1.86,1.81,2.79,3.16,2.89
1,E0,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,...,1.52,33,-0.50,2.07,2.00,1.90,1.85,2.25,3.15,3.86
2,E0,13/08/16,Everton,Tottenham,1,1,D,1,0,H,...,1.77,32,0.25,1.91,1.85,2.09,2.00,3.64,3.54,2.16
3,E0,13/08/16,Hull,Leicester,2,1,H,1,0,H,...,1.67,31,0.25,2.35,2.26,2.03,1.67,4.68,3.50,1.92
4,E0,13/08/16,Man City,Sunderland,2,1,H,1,0,H,...,2.48,34,-1.50,1.81,1.73,2.20,2.14,1.25,6.50,14.50

In [186]:
df['Date'] = df['Date'].apply(lambda x : datetime.strptime(x, '%d/%m/%y'))

In [187]:
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,2016-08-13,Burnley,Swansea,0,1,A,0,0,D,...,1.61,32,-0.25,2.13,2.06,1.86,1.81,2.79,3.16,2.89
1,E0,2016-08-13,Crystal Palace,West Brom,0,1,A,0,0,D,...,1.52,33,-0.50,2.07,2.00,1.90,1.85,2.25,3.15,3.86
2,E0,2016-08-13,Everton,Tottenham,1,1,D,1,0,H,...,1.77,32,0.25,1.91,1.85,2.09,2.00,3.64,3.54,2.16
3,E0,2016-08-13,Hull,Leicester,2,1,H,1,0,H,...,1.67,31,0.25,2.35,2.26,2.03,1.67,4.68,3.50,1.92
4,E0,2016-08-13,Man City,Sunderland,2,1,H,1,0,H,...,2.48,34,-1.50,1.81,1.73,2.20,2.14,1.25,6.50,14.50

In [188]:
mufc = df[df['HomeTeam'].str.contains("Man United")].append(df[df['AwayTeam'].str.contains("Man United")])
liverpool = df[df['HomeTeam'].str.contains("Liverpool")].append(df[df['AwayTeam'].str.contains("Liverpool")])
mcfc = df[df['HomeTeam'].str.contains("Man City")].append(df[df['AwayTeam'].str.contains("Man City")])
arsenal = df[df['HomeTeam'].str.contains("Arsenal")].append(df[df['AwayTeam'].str.contains("Arsenal")])
spurs = df[df['HomeTeam'].str.contains("Tottenham")].append(df[df['AwayTeam'].str.contains("Tottenham")])
chelsea = df[df['HomeTeam'].str.contains("Chelsea")].append(df[df['AwayTeam'].str.contains("Chelsea")])

In [189]:
mufc_fixtures = list()
from collections import OrderedDict

for idx, val in mufc.iterrows():
    d = OrderedDict()
    d['date'] = val[1]
    d['club1'] = val[2]
    d['club1score'] = val[4]
    d['club2'] = val[3]
    d['club2score'] = val[5]
    mufc_fixtures.append(d)
    
mufc_fixtures = sorted(mufc_fixtures, key=lambda x : x['date'])

SyntaxError: invalid syntax (<ipython-input-189-4486dd6d59d6>, line 5)

In [ ]:
for i in mufc_fixtures:
    i['date'] = i['date'].strftime('%m/%d/%Y')

with open('mufc_fixtures','w') as f:
    json.dump(mufc_fixtures, f)